/* html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color:white; 
    background-image: url(/img/3.png);
}

h1{
    text-align: center;
    color: orange;
}

.music1{
    text-align: center;
    
}

.fanhui1 {
    display:inline;
    max-width: 30px;
    max-height:25px ;
    text-decoration:overline;
    position: sticky;
    top: 0px;

  }

.ui1{
    text-align: center;    
}

.search{
    text-align: center;
    border: 1px solid black;
    max-width: 900px;
    position: relative;
    margin: auto;
    margin-top: -20px;
}

.shezhi{
    display:inline;
    max-width: 30px;
    max-height:25px;
    background-position-y: center;
    padding-left: 1510px;
    position: fixed;
}

.start{
    background-color: red;
    max-width: 35px;
    position: relative;
    margin-top: 360px;
    margin-left: 160px;
} */
